<% if @song.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@song.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <%= form_for @song do |form| %>
  <p>Title: <%= form.text_field :title %></p>
  <p>Artist Name: <%= form.text_field :artist_name %></p>
  <p>Release Year: <%= form.number_field :release_year %></p>
  <p>Release? <%= form.check_box :released %></p>
  <p>Genre: <%= form.text_field :genre %></p>
  <%= form.submit %>
<% end %>